<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <link href="/static/list.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Tangerine">
</head>
<body>
<div class='box'>
    <% Object.keys(refinedCoasters).forEach(function(key) { %>
    <div class='group'>
        <h3><%- key[0].toUpperCase() + key.substr(1) %>:</h3>
        <% refinedCoasters[key].forEach(function(rollercoaster){ %>
        <div class=<%- rollercoaster.highlighting%>>
            <div class='coastername'><b><%- rollercoaster.shortName %></b></div>
            <div class='item'><%- rollercoaster.waitTime %> min</div>
            <div class='item'><%- rollercoaster.status %></div>
        </div>
        <% }); %>
    </div>
    <% }); %>
</div>
<div class='timestamp'>
    <%- new Date() %>
</div>
</body>